<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @treatment.weight %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @treatment.dose %>
</p>

<p>
  <strong>Medicament:</strong>
  <%= @treatment.medicament %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
