<p id="notice"><%= notice %></p>

<h1>Listing Hormone Levels</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Min</th>
      <th>Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hormone_levels.each do |hormone_level| %>
      <tr>
        <td><%= hormone_level.level %></td>
        <td><%= hormone_level.min %></td>
        <td><%= hormone_level.max %></td>
        <td><%= link_to 'Show', hormone_level %></td>
        <td><%= link_to 'Edit', edit_hormone_level_path(hormone_level) %></td>
        <td><%= link_to 'Destroy', hormone_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hormone level', new_hormone_level_path %>
